/* ==========COMMON STYLES============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

.dot-list {
	list-style-type: none;
}

.underscore {
	text-decoration: none;
}

button {
	cursor: pointer;
}


.container {
	margin: 0 auto;
	padding: 0 15px;
}

.main-body {
	font-family: Roboto, sans-serif;
	color: #434455;
	background-color: #FFFFFF;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

}

/* HIDDENT TEXT */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ==========MOBILE HEADER============ */
.main-header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header-box {
	display: flex;
	justify-content: space-between;
}

.mobile-header {
	padding: 16px 16px;
}

/* ==========LOGOTYPE============ */
/* WEB */
.logotype {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--IRIS, #4D5AE5);
}

.logotype-studio {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--NAVY-BLUE, #2E2F42);
}

.menu {
	display: none;
}

.main-adress-list,
.main-adress {
	display: none;
}

/* ==========MOBILE MENU BUTTON============ */
.mobile-open-btn {
	border: none;
	background-color: transparent;
	padding: 0;
	line-height: 0;
}

/* ================MOBILE MENU ===============*/
.modal-mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background-color: #FFFFFF;
	/* is open */
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}


.modal-button-close {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-main-navigations {
	margin-top: 72px;
}

/* ============ MOBILE MENU STYLES================= */
.mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 168px;

}

.mobile-menu-link {
	position: relative;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.mobile-current {
	color: #404bbf;
}

/* =============MOBILE MENU ADRESS=============== */
.mobile-main-adress {
	font-style: normal;

}

.mobile-main-adress-list {
	display: inline-flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 48px;
}

.mobile-main-adress-link {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: #434455;
}

.mobile-main-adress-link:hover {
	color: #404BBF;
}

.team-list-icon {
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
}

.team-list-icon-item {
	width: 40px;
	height: 40px;
}

.team-list-icon-item-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-item-svg {
	fill: #f4f4fd;
}

.team-list-icon-item-link:hover {
	background-color: #404bbf;
}

.team-list-icon-item-link:focus {
	background-color: #404bbf;
}

/* =============HERRO=============== */
.main-herro-section {
	background-position: center;
	background-color: var(--NAVY-BLUE, #2E2F42);
	background-image: linear-gradient(to bottom,
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 72px 0;
}

@media screen and (min-resolution:192dpi) {
	.main-herro-section {
		background-image: linear-gradient(to bottom,
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
	}
}

.main-herro-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 72px;
	width: 100%;
}

.main-herro-content {
	text-align: center;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--WHITE, #FFFFFF);
	max-width: 288px;
}

.main-herro-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--WHITE, #FFFFFF);
	background-color: #4D5AE5;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-herro-button:hover {
	background-color: #404BBF;
}

.main-herro-button:focus {
	background-color: #404BBF;
}

/*============ABAUT US================*/
.about-us-section {
	padding-top: 96px;
	padding-bottom: 96px;
}

.about-us-list {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 72px;
}

.about-us-empty {
	display: none;
}

.about-us-content {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--NAVY-BLUE, #2E2F42);
	margin-bottom: 8px;
	text-align: center;
}

.about-us-content-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--SLATE, #434455);
}

/* =============OUR TEAM=============== */
.team-section {
	background: var(--CLOUD, #F4F4FD);
}

.team-box {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.team-content {
	text-align: center;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--NAVY-BLUE, #2E2F42);
	margin-top: 96px;
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.team-item {
	display: flex;
	flex-direction: column;
	width: 264px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-content-box {
	padding: 32px 0
}

.team-item-content {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--NAVY-BLUE, #2E2F42);
	margin-bottom: 8px;
}

.team-item-text {
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--SLATE, #434455);
	margin-bottom: 8px;
}

.team-list-icon {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-list-icon-item {
	width: 40px;
	height: 40px;
}

.team-list-icon-item-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon-item-svg {
	fill: #f4f4fd;
}

.team-list-icon-item-link:hover {
	background-color: #404bbf;
}

.team-list-icon-item-link:focus {
	background-color: #404bbf;
}

/* ================== MEDIA================== */

@media screen and (min-width: 320px) {
	.container {
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
	.container {
		width: 736px;
	}

	/* ++++++++++++HEADER 768px+++++++++++++++++ */
	.mobile-header {
		padding: 0 15px;
	}

	.mobile-open-btn {
		display: none;
	}

	.main-navigations {
		display: flex;
		align-items: center;
	}

	/* +++++++++++++LOGOTYPE 768px++++++++++ */
	.logotype {
		margin-right: 120px;
		padding: 24px 0;
	}

	/* ++++++++++++MENU+ADDRESS 768px++++++++++ */

	.menu {
		display: flex;
		gap: 40px;
	}

	.menu-link {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.02em;
		padding: 24px 0;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		color: #2E2F42;
	}

	.current {
		color: #404bbf;
	}

	.menu-link:hover,
	.menu-link:focus {
		color: #404BBF;
	}

	.current::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		height: 4px;
		border-radius: 2px;
		width: 100%;
		background-color: #404BBF;
	}

	/* +++++++++++ADRESS 768px++++++++++++++ */
	.main-adress {
		font-style: normal;
		display: inherit;
	}

	.main-adress-list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-top: 12px;

	}

	.main-adress-link {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.16;
		letter-spacing: 0.04em;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		color: #434455;
	}

	.main-adress-link:hover {
		color: #404BBF;
	}

	.main-adress-link:focus {
		color: #404BBF;
	}

	/* +++++++++++HERRO 768px++++++++++++++++ */
	.main-herro-section {
		padding: 112px 0;
	}

	.main-herro-box {
		gap: 36px;
	}

	.main-herro-content {
		font-size: 56px;
		line-height: 1.07;
		max-width: 496px;
	}

	/* +++++++++++ABOUT US 768px++++++++++++++ */
	.about-us-list {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 72px 24px;
	}

	.about-us-item {
		width: calc((100% - 24px) / 2);
	}

	.about-us-content {
		text-align: start;
	}

	/* +++++++++++OUR TEAM 768px++++++++++++++ */

	.team-list {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 64px 24px;
		justify-content: center;
	}

	.team-item {
		margin: 0;
	}
}

@media screen and (min-width: 1158px) {
	.container {
		width: 1158px;
	}

	/* ++++++++++++HEADER 1158px+++++++++++++++++ */
	.main-adress-list {
		flex-direction: row;
		gap: 40px;
		padding: 24px 0;
	}

	.main-adress-link {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	/* +++++++++++HERRO 1158px++++++++++++++++ */
	.main-herro-box {
		gap: 48px;
	}

	.main-herro-section {
		padding: 188px 0;
	}

	/* +++++++++++ABOUT US 1158px++++++++++++++ */
	.about-us-empty {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f4f4fd;
		width: 264px;
		height: 112px;
		border: 1px solid #8E8F99;
		border-radius: 4px;
		margin-bottom: 8px;
	}

	.about-us-list {
		flex-wrap: nowrap;
		gap: 0 24px;
	}

	.about-us-item {
		width: calc((100% - 24px) / 4);
	}
}